.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.titleBox {
  background: linear-gradient(#ffffff, #f29696);
  height: 700px;
  display: flex;
}

.introTextBox {
  width: 60%;
  padding: 30px;
}

.downloadButton {
  background-color: #ffe5d9;
  margin-top: 5%;
  height:50px;
  border-radius: 20px;
  width: 280px;
  text-align: left;
  padding-left: 20px;
  box-shadow: 0 0 100px 15px #ffe5d9;
}

.beyondhashingbox {
  width: 52%;
  padding: 30px;
}

.videoBox {
  background: #F4978E ;
  height: 700px;



}